{% if error|default %}
    {{ error }}<br>
{%  endif %}
<form class="form-signin" method="post" action="{{ path('create') }}">
    <input type="text" name="username" value="{{ username|default }}" placeholder="username"><br>
    <input type="password" name="password1" value="" placeholder="password"><br>
    <input type="password" name="password2" value="" placeholder="password again"><br>
    <input type="submit" name="submit" value="Create">
</form>